.LogButton {
  display: inline-block;
  padding: 13px 24px;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
}

a.LogButton {
  text-decoration: none;
}

.LogButton.primary {
  color: #ffffff;
  background-color: var(--primary-color);
}

.LogButton.secondary {
  color: #000000;
  background-color: #e7e7e7;
}

.LogButton.outline {
  background-color: #ffffff;
  border: 1px solid #e1e1e1;
}
